                        * {
                            margin: 0;
                            padding: 0;
                            font-family: 'Montserrat', sans-serif;
                        }
                        
                        a {
                            color: black;
                        }
                        p {
                            color: black;
                        }
                        
                        span {
                            color: black;
                            text-decoration: none;
                            font-size: 32px;
                            text-align: left;
                            z-index: 2;
                        }
                        
                        
                        
                    nav {
                            background-color: #333;
                            color: #fff;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0px;
                            font-size: 16px;
                            position: fixed;
                            top: 0;
                            width: 100%;
                            z-index: 2;
                        }
                       

                        
                           
                        
                        nav img {
                            width: 350px;
                        }
                        
                        .nav-links {
                            flex: 1;
                            text-align: center;
                            
                        }
                        
                        .nav-links ul li {
                            list-style: none;
                            display: inline-block;
                            padding-top: 2%;
                            margin-bottom: 0.1rem;
                            
                            margin-right: 0px;
                            position: relative;
                            text-indent: -5px;
                            padding-right: 70px;
                            text-align: center;
                        }
                        
                        .nav-links ul li a {
                            color: black;
                            text-decoration: none;
                            font-size: 20px;
                            
                            
                        }
                        
                        
                        .nav-links ul li:hover::after {
                            width: 100%;
                                                }

                        .nav-links ul li::after {
                                                    content: "";
                                                    width: 0%;
                                                    height: 2px;
                                                    background: rgb(19, 110, 255);
                                                    display: block;
                                                    margin: auto;
                                                    transition: 0.5s;
                                                }
                        .right-margin-small-font {
                            float: right;
                            padding-right: 12%;
                            font-size: 1.3rem;
                            margin-bottom: 0.1rem;
                            margin-top: 0.1rem;
                          }
                        
                        .text-box {
                            width: 90%;
                            color: black;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                        }
                        
                        .text-box h1 {
                            font-size: 62px;
                        }
                        
                        nav .fa-bars {
                            display: none;
                        }
                        
                        nav .fa-circle-xmark {
                            display: none;
                        }
                        
                        @media(max-width: 700px) {
                            .nav-links ul li {
                                display: block;
                            }
                            .nav-links {
                                position: absolute;
                                background: whitesmoke;
                                height: 100vh;
                                width: 200px;
                                top: 0;
                                right: -200px;
                                text-align: left;
                                z-index: 2;
                                transition: 1s;
                            }
                            nav .fa-bars {
                                display: block;
                                color: black;
                                margin: 10px;
                                padding: 40px;
                                font-size: 52px;
                                cursor: pointer;
                            }
                            nav .fa-circle-xmark {
                                display: block;
                                color: black;
                                margin: 10px;
                                font-size: 32px;
                                cursor: pointer;
                            }
                            .nav-links ul {
                                padding: 30px;
                            }
                        }
                        
                        .small-carousel {
                            width: 100%;
                            height: 50%;
                            margin: 1px auto;
                            z-index: 1;
                        }
                        
                        .carousel-item img {
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }
                        
                        .carousel-caption {
                            position: absolute;
                            top: 0;
                            left: 120hv;
                            color: white;
                            padding: 10px;
                            font-size: 28px;
                            z-index: 1;
                        }
                        
                        .about {
                            width: 80%;
                            margin: auto;
                            text-align: center;
                            padding-top: 50px;
                            color: #fff
                        }
                        
                        .about-col {
                            flex-basis: 32%;
                            border-radius: 10px;
                            margin-bottom: 30px;
                            position: relative;
                            overflow: hidden;
                        }
                        
                        h2 {
                            font-size: 50px;
                            font-weight: 600;
                            color: black
                        }
                        
                        p {
                            color: black;
                            font-size: 22px;
                            font-weight: 300;
                            line-height: 22px;
                            padding: 10px;
                        }
                        /* imagenes del aboout abajo 
                    .aboutImgs {
                        width: 80%;
                        margin: auto;
                        text-align: center;
                        color: #fff
                    }
                    
                    .aboutImg-col {
                        flex-basis: 32%;
                        border-radius: 10px;
                        margin-bottom: 30px;
                        position: relative;
                        overflow: hidden
                    }
                    
                    .aboutImgs img {
                        width: 100%;
                    }
                    
                    .layer {
                        background: rgba(226, 0, 0, 0.7);
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: 0.5s;
                    }
                    
                    .layer:hover {
                        background: rgba(226, 0, 0, 0.7);
                    }*/
                        
                        .sub-menu-1 {
                            display: none;
                        }
                        
                        .nav-links ul li:hover.sub-menu-1 {
                            display: block;
                            position: absolute;
                            background: rgb(19, 110, 255);
                            margin-top: 15px;
                            margin-left: -15px;
                        }
                        
                        a.forgot-password {
                            color: #333;
                            /* Adjust as needed to match the rest of the menu */
                            font-size: 14px;
                            /* Adjust as needed to match the rest of the menu */
                            text-decoration: underline;
                        }
                        
                        a.forgot-password:hover {
                            color: #333;
                            /* Adjust as needed to match the rest of the menu */
                        }
                        
                        .box {
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            padding: 20px;
                        }
                        
                        .contact {
                            flex-basis: 32%;
                            border-radius: 10px;
                            margin-bottom: 30px;
                            position: relative;
                            overflow: hidden;
                        }
                        
                        .custom-img {
                            width: 100%;
                            /* Set the width to 100% of the container */
                            height: auto;
                            /* Set the height to auto, to maintain the aspect ratio */
                        }
                        
                        
  
                        .gif {
                          width: 200px;
                          height: 200px;
                          background-image: url(cortexlogo3-still.jpg);
                          background-repeat: no-repeat;
                          background-size: contain;
                        }
                    
                        .gif:hover, .gif:active {
                          background-image: url(cortexlogo3.gif);
                        }
                      